<h1>  About your word <%= @ans %> : </h1>

<p> Defintion: <%=@solution%> </p> 

<p> Example: <%= @example %>
<div>
<a href="/"> <button> Go Back </button> </a>
</div>
<br> 
<% @meanings.each { |m| %>
   <h2>Meaning:
   <%= m.fetch("partOfSpeech") %></h2>

   <% m.fetch("definitions").each {|d|  %>
       <h3>Def</h3>
       <%= d.fetch("definition") %>
        
        
        
     <br>
      
       <% } %>
 <% } %>
      
 
